.character-option-image {
	width: 50px;
	margin-right: 10px;
	border-radius: 20%;
}

.character-option-info {
	display: flex;
	flex-direction: column;
}

.character-option-container {
	display: flex;
	align-items: center;
	padding: 2px;
}

.select__option--is-selected {
	background-color: rgba(117, 245, 162, 0.713) !important;
	color: inherit !important;
}

.select-component {
	min-width: 500px;
}

@media (max-width: 768px) {
	.select-component {
		min-width: 100%;
	}
}